.footer, .push {
	height: auto;
	clear:both;
	background-color: #d8d5d5;
}

.logo {
	height: 58px;
	width: 194px;
	margin-bottom:10px;
}
.login-block {
	padding: 10px;
}
.navbar-nav > li:hover {
	background-color: #d8d5d5;
	color: white;
}
